absl-py==2.1.0
albucore==0.0.13
albumentations==1.4.11
annotated-types==0.7.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
et-xmlfile==1.1.0
eval_type_backport==0.2.0
fastapi==0.115.11
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
hpack==4.0.0
hyperopt==0.2.7
imbalanced-learn==0.12.4
inflection==0.5.1
jsonpointer==2.1
kaggle==1.6.14
keras==3.3.3
keras-tuner==1.4.7
kt-legacy==1.0.5
libclang==18.1.1
matplotlib==3.7.3
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opendatasets==0.1.22
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
ply==3.11
protobuf==3.20.3
py4j==0.10.9.7
pyasn1-modules==0.2.8
pydantic==2.8.2
pydantic_core==2.20.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
scikit-learn==1.5.2
seaborn==0.13.2
starlette==0.46.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
threadpoolctl==3.5.0
tomli==2.0.1
torch==2.2.2
torchsummary==1.5.1
torchvision==0.17.2
uvicorn==0.34.0
webencodings==0.5.1
xgboost==2.0.3
yacs==0.1.8
